.contMotoLayaot{
    width: 100%;
    background-color: #f00;
}
.contMotoMuestra{
    width: 100%;
    margin: auto;
}
.contMostrarMoto{
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 4% 100%);
    width: 100%;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.contMostrarMoto > img{
    height: 330px;
    width: 480px;
    margin-top: 20px;
    user-select: none;
}
.contDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contDatos > h1{
    text-transform:uppercase;
    width: 80%;
    font-size: 45px;
    color: #f00;
}
.contDatos > h1>p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #000;
    height: 5px;
}
.contDatos >h4{
    width: 100%;
    margin-top: 30px;
    color: #f00;
    font-size: 16px;
}
.datoPrecio{
    margin-top: 5px;   
}
.clip{
    clip-path: polygon(16% 0, 100% 33%, 100% 0);
    background-color: #000;
    height: 400px;
    width: 35vw;
    position: absolute;
    right: 0;
    user-select: none;
}
@media (max-width:850px) {
    .contMostrarMoto{
        flex-direction: column;
    }
    .clip{
        top: 0;
    }
    .contDatos > *{
        text-align: center;
    }
    .contMotoLayaot{
        margin-bottom: 40px;
    }
}
@media (max-width:520px) {
    .contMostrarMoto > img{
        height: 100%;
        width: 100%;
    }
}