.contNavegacion{
    display: flex;
}
.contA{
    height: 86px;
    display: flex;
    align-items: center;
    transition: all .2s;
}
.contIcobar{
    display: none;
}
.contA >a{
    padding: 30px 20px 0 20px ;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14.3px;
    transition: all .2s;
    height: 100%;
    cursor: pointer;
}
.contA:hover{
    border-top: 4px solid #fff;
}
.contA >a:hover{
    color: #fff;
}
.active{
    border-top: 4px solid #fff;
}
.subNav{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 470px;
    background-color: rgb(255, 0, 0);
    margin-top: 550px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
}
.subNav2{
    animation: aparecer .5s forwards;
}
.subNav3{
    animation: desaparecer .5s forwards;
}
.subNav > a{
    height: 100px;
    color: #fff;
    z-index: 10;
    border: none;
    padding: 10px 0px 0 20px ;
    text-decoration: none;
    font-weight: 550;
    font-size: 13px;
    transition: background .5s;
}
.subNav > a:hover{
    background-color: #000;
    color: #fff;
}
.active2{
    background-color: #000;
}
@keyframes aparecer {
    0%{
        opacity: 0;
        visibility: hidden;
    }100%{
        opacity: 1;
        visibility: visible;
    }
}
@keyframes desaparecer {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (max-width: 970px) {
    .contA{
        width: 100%;
        height: 40px;
    }
    .contA >a{
        margin: 0 0 0 0px;
        padding: 0 0 0 5px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contA:hover{
        border: none;
        background-color: #000;
    }
    .active{
        border: none;
        background-color: #000;
    }
    .subNav{
        position: absolute;
        top: 120px;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .subNav > a{
        margin: 0%;
        padding: 0%;
        padding-left: 5px;
    }
    .contNavegacion{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        align-items: center;
        top: 85px;
        right: 0px;
        background-color: #f00;
        visibility: hidden;
        opacity: 0;
        transition: all .5s ;
    }
    .contNavegacion2{
        visibility: visible;
        opacity: 1;
    }
    .contIcobar{
        position: absolute;
        display: inline-block;
        font-size: 30px;
        color: #fff;
        margin-right: 10px;
        cursor: pointer;
        right: 0;
    }
}